/* color the lifeline of B in blue */
.lifelines > line.b{
    stroke: blue;
    stroke-width: 2;
}

/* color the lifeline of A in green */
.lifelines > line.a{
    stroke: green;
    stroke-width: 2;
}

/* color the arcs */
.element > path, line{
    stroke: orange;
    stroke-width: 2;
}

/* color the tip of the arrows */
defs path {
    stroke: orange;
    fill: orange;
}

/* highlight all labels */
.label > rect {
    fill: yellow;
}
