/* color the lifeline of A in green */
.lifelines > line.a, g.participants  > rect.a{
    stroke: green;
}

/* color the lifeline of B in blue */
.lifelines > line.b, g.participants  > rect.b {
    stroke: blue;
}

/* color the arcs */
.elements > line, .elements > path {
    stroke: orange;
    stroke-width: 2;
}

/* color the tip of the arrows */
defs path {
    stroke: orange;
    fill: orange;
}

/* highlight all labels */
.label > rect {
    fill: yellow;
}
